p{
    color: dimgrey;
    text-align: center;
}
.vjs{
    font-size: 30px;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}
.em{
    font-size: 20px;
    background-color: lightyellow;
    color: darkblue;
}
#am{
    font-size: 25px;
    background-color: lightpink;
    color: darkgreen;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    background-color: lightgreen;
}
#ch{
    width: 25px;
    height: 25px;
    background-color: lightcoral;
}
