p{
    color: dimgrey;
    text-align: center;
}
.vjs{
    font-size: 30px;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}
.em{
    font-size: 20px;
    background-color: lightyellow;
    color: darkblue;
}
#am{
    font-size: 25px;
    background-color: lightpink;
    color: darkgreen;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    background-color: lightgreen;
}
#ch{
    width: 25px;
    height: 25px;
    background-color: lightcoral;
}
h1,h2,h3{
    color: darksalmon;
}
.rar{
    color: rgb(17, 1, 1);
}
*{
    margin: 25px;
    padding: 5px;
}

#user{
    border: 2px solid rgb(183, 20, 20);
}
input[type="password"]{
    border: 2px solid rgb(20, 112, 183);
}
form{
    background-color: lightcyan;
    border: 2px solid rgb(20, 137, 183);
    width: fit-content;
}