h1{
  text-align: center;
  border: 2px solid purple;
  background-color: purple;
  color: black;
  width: fit-content;
  font-size: larger;
  margin: 0 auto;   /* Centering */
}

body{
  background-color: antiquewhite;
}

form{
  align-content: center;
  border: 4px solid black;
  background-color: burlywood;
  width: fit-content;
  margin: 0 auto;   /* Centering */
}
