div{
    border: 2px solid black;
    width: 400px;
    height: 150px;
    margin: 0 auto;
    background-color: rgb(49, 110, 180);
}
h1{
  text-align: center;
  border: 2px solid purple;
  background-color: purple;
  color: black;
  width: fit-content;
  font-size: 90px;
  margin: 0 auto;   /* Centering */
  border-radius: 100px;
}

body{
  background-color: antiquewhite;
}

form{
  align-content: center;
  border: 4px solid black;
  background-color: burlywood;
  width: fit-content;
  padding: 5px;
  margin: 0 auto;   /* Centering */
}
#lg{
    text-align: center;
    background-color: lightblue;
    border: 2px solid blue;
}
button{
    display: block;
    /* display: block;  centering the button */
    margin: 10px auto;
}
